<p>aboutus works!</p>
<form [formGroup]="loginForm" action="#" (ngSubmit)="myMethod()" method="post">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input [class.error]="submit && uname.errors" [ngClass]="errorObj"autocomplete="off"  type="text" placeholder="Enter Username" formControlName="uname" required>
        <h1 style="color: red;" *ngIf="submit && uname.errors">
            <span *ngIf="uname.errors.required">This field is required filed</span>
        </h1>
        <label for="psw"><b>Password</b></label>
        <input autocomplete="off"  type="password" (mouseenter)="myalert()" placeholder="Enter Password" formControlName="psw" required>
        <h1 style="color: rgb(141, 82, 82);" *ngIf="submit && psw.errors">
            <span *ngIf="psw.errors.required">This field is required filed</span>
            <span *ngIf="psw.errors.min">This field is required filed</span>

        </h1>
        <input type="checkbox" placeholder="Enter Password" value="somevalue" formControlName="ckb1" required>
        <input type="radio" placeholder="Enter Password" value="somevalue" formControlName="edbk1" required>
        <div formGroupName="address">
            <input type="text" placeholder="Enter Password" value="" formControlName="line1" required>
            <h1 style="color: rgb(141, 82, 82);" *ngIf="submit && addressLine1.errors">
                <span *ngIf="addressLine1.errors.required">This field is required filed</span>
                <span *ngIf="addressLine1.errors.min">This Must be 10 digit length</span>
    
            </h1>
            <input type="text" placeholder="Enter Password" value="" formControlName="pincode" required>
            <div formGroupName="myaddress">
                <input type="text" placeholder="Enter Password" value="" formControlName="line1" required>
                <h1 style="color: rgb(141, 82, 82);" *ngIf="submit && addressLineInner.errors">
                    <span *ngIf="addressLineInner.errors.required">This field is required filed</span>
                    <span *ngIf="addressLineInner.errors.min">This Must be 10 digit length</span>
        
                </h1>
                <input type="text" placeholder="Enter Password" value="" formControlName="pincode" required>

            </div>
        </div>
        <div formArrayName="items" *ngFor="let item of addItem.controls; let i = index;">
            <div [formGroupName]="i">
                <input formControlName="name" placeholder="Item name">
                <input formControlName="description" placeholder="Item description">
                <input formControlName="price" placeholder="Item price">
            </div>
        </div>
        <div formArrayName="phonnumbers" *ngFor="let item of phonnumbers.controls; let i = index;">
            <input [formControlName]="i" placeholder="Item name" #mycontrol>
            {{mycontrol.error | json}}
            
        </div>
        <button (click)="addIT()">Add</button>
        <button type="button"(click)="addphonnumbers()">Add Phone</button>

        <button type="submit">Login</button>

    </div>
</form>
<form [formGroup]="registerForm" action="#" (ngSubmit)="myMethod()" method="post">

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" formControlName="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" (mouseenter)="myalert()" placeholder="Enter Password" formControlName="psw" required>
        <input type="checkbox" placeholder="Enter Password" value="somevalue" formControlName="ckb1" required>
        <input type="radio" placeholder="Enter Password" value="somevalue" formControlName="edbk1" required>
        <div formGroupName="address">
            <input type="text" placeholder="Enter Password" value="" formControlName="line1" required>
            <input type="text" placeholder="Enter Password" value="" formControlName="pincode" required>

        </div>
        <button type="submit">Login</button>

    </div>
</form>
https://developer.mozilla.org/en-US/docs/Web/Events